.app_star {
  position: absolute;
  display: none;
  top: 0;
  right: 15px;

  i {
    font-size: 2em;
    color: yellow;
  }

  &:hover {
    transform: scale(1.2);
    display: block;
  }
}

.o_app {
  position: relative;

  &:hover {
    .app_star {
      display: block;
    }
  }
}

.database_expiration_panel{
  padding-bottom: 15px;
  padding-top: 15px;
}

.o_menu_search {
  @media (min-width: 992px) {
    margin-top: 0;
    margin-bottom: 25px;
  }
}


// <--=================== Added ===================-->

// .o_home_menu.o_search_hidden .o_menu_search {
//   margin: 22px auto;
//   opacity: 1;
//   padding: 10px 15px;
//   max-height: 46px;
// }
//
// .o_home_menu.o_search_hidden .o_home_menu_scrollable > div:first-child {
//     margin-top: 0;
// }

.o_home_menu .o_home_menu_scrollable {
  align-items: center;
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-box-flex: 1; -webkit-flex: 1 1 0; flex: 1 1 0;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  overflow: visible;
  position: relative;
  width: 100%;
}

.groups{
    display: grid;
}

$o-we-switch-size: 2ex !default;
$o-we-switch-inactive-color: #F7F7F7 !default;

.o_switch {
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;

    > input {
        display: none;

        + span {
            background-color: $o-we-switch-inactive-color;
            box-shadow: inset 0 0 0px 1px darken($o-we-switch-inactive-color, 10%);
            border-radius: 100rem;
            height: $o-we-switch-size;
            width: $o-we-switch-size * 1.8;
            margin-right: 0.5em;
            display: inline-block;
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

            &:after {
                content: "";
                background: white;
                display: block;
                width: $o-we-switch-size - 0.2;
                height: $o-we-switch-size - 0.2;
                margin-top: 0.1ex;
                margin-left: 0.1ex;
                border-radius: 100rem;
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                box-shadow: 0 1px 1px darken($o-we-switch-inactive-color, 35%), inset 0 0 0 1px lighten($o-we-switch-inactive-color, 10%);
            }
        }

        &:checked+span {
            box-shadow: none;
            background: $o-we-color-success;

            &:after {
                margin-left: ($o-we-switch-size*1.8 - $o-we-switch-size) + 0.1;
            }
        }
    }

    &.o_switch_danger {
        >input {
            &:not(:checked)+span {
                box-shadow: none;
                background: $o-we-color-danger;
            }
        }
    }
}

// <--======================================-->

.favoriteMenu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  max-width: $o-home-menu-container-size;

  .o_apps {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .o_app {
      background: transparent;
      border: 1px solid transparent;
      border-radius: 3%;
      text-decoration: none;
      text-align: center;
      outline: none;
      transition: all 0.3s ease 0s;

      .o_menuitems {
        width: 100%;

        flex: 1 0 auto;

        .o_menuitem {
          @include media-breakpoint-down(sm) {
            padding: 6px;
          }
        }

      }

      .o_no_results {
        flex: 1 0 auto;
      }

      padding: 10px 0;
      width: percentage(1/3);

      @include media-breakpoint-up(sm) {
        width: percentage(1/4);
      }

      @include media-breakpoint-up(md) {
        width: percentage(1/6);
      }

      .o_caption {
        @include o-text-overflow(block);
        margin: 4px 0;
        color: white;
        text-shadow: 0 1px 1px rgba(black, 0.8);
      }

      &:focus, &.o_focused, &:hover {
        .o_app_icon {
          box-shadow: 0 8px 15px -10px black;
          transform: translateY(-1px);
        }
      }

      &.o_menuitem {
        margin-left: 0;

        &:focus, &.o_focused {
          background-color: rgba(white, 0.05);
          border-radius: 4px;
        }
      }

      .o_app_icon {

        border-radius: 4%;
        transition: all 0.3s ease 0s;
        box-shadow: 0 8px 0 -10px black;
        background: {
          repeat: no-repeat;
          position: center;
          size: cover;
        };

        // Pictogram icons (studio)
        &_has_pictogram::before {
          border-radius: 4%;
          background: linear-gradient(to right top, transparent, rgba(white, 0.15));
          box-shadow: inset 0 1px 0 0 rgba(white, 0.4), inset 0 -1px 0 0 rgba(black, 0.4);
        }

        .fa {
          text-shadow: 0 2px 0 rgba(0, 0, 0, 0.23);
        }

        position: relative;
        width: 80%;
        max-width: $o-home-menu-app-icon-max-width;
        overflow: hidden;
        margin: auto;

        &:before { // so that the div is a square
          content: "";
          display: block;
          padding-top: 100%;
        }

        > i.fa { // studio
          @include o-position-absolute(25%, 0, auto, 0);
          font-size: $o-home-menu-app-icon-max-width*0.5;

          @media screen and (max-width: 260px) { // where icons start to shrink
            font-size: 30px; // on old browser
            font-size: 13vw; // ~33px at 260px
          }
        }
      }
    }
  }
}
